In [1]:
import os
import pandas as pd
import numpy as np
input_path = './log_merge_proj_data/Input/'
input_datas = os.listdir(input_path)

In [2]:
def get_data(data_name):
    data = pd.read_csv(input_path + data_name, header =2)
    data_limit = pd.read_csv(input_path + data_name, header =None, names= data.columns).iloc[:2,1:]
    data.drop_duplicates(['barcode'], keep = 'last', inplace= True)
    data.reset_index(inplace = True, drop = True)
    return data, data_limit

In [3]:
data, data_limit = get_data(input_datas[0])
barcode = set(data['barcode'])
for data_name in input_datas[1:]:
    data, data_limit = get_data(data_name)
    barcode = barcode & set(data['barcode'])
    print(len(barcode))
    print(data_name, data.shape)
print(len(barcode))

3448
m.csv (5791, 21)
1802
n.csv (5248, 41)
853
o.csv (4754, 61)
532
p.csv (6161, 51)
328
q.csv (5781, 71)
328

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\1877895414.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  data_limit = pd.read_csv(input_path + data_name, header =None, names= data.columns).iloc[:2,1:]

In [4]:
datas = []
data_limits = []
for data_name in input_datas:
    data,data_limit = get_data(data_name)
    data.set_index('barcode',inplace = True)
    data_limits.append(data_limit)    
    data = data.loc[barcode,:]
    data.sort_index(inplace = True)
    print(data.shape)
    datas.append(data)

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\3002657457.py:7: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data = data.loc[barcode,:]

(328, 50)

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\3002657457.py:7: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data = data.loc[barcode,:]

(328, 20)

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\3002657457.py:7: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data = data.loc[barcode,:]

(328, 40)

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\3002657457.py:7: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data = data.loc[barcode,:]

(328, 60)

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\3002657457.py:7: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data = data.loc[barcode,:]

(328, 50)
(328, 70)

C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\1877895414.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  data_limit = pd.read_csv(input_path + data_name, header =None, names= data.columns).iloc[:2,1:]
C:\Users\jhs85\AppData\Local\Temp\ipykernel_11648\3002657457.py:7: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data = data.loc[barcode,:]

In [5]:
total = pd.concat(datas, axis = 1)
total_limit = pd.concat(data_limits, axis = 1)

In [6]:
print(total.shape)
print(total_limit.shape)

(328, 290)
(2, 290)

In [7]:
result = ['pass' for i in range(len(barcode))]
for col in  total_limit.columns:
    low, high = list(map(float, total_limit[col]))
    result = [' '.join([r,col]) if d <= low or d >= high else r for r, d in zip(result, total[col])]
result = [r if r == 'pass' else r[5:] for r in result]

In [8]:
total['result'] = result
total.reset_index(inplace=True)

In [9]:
total_limit=total_limit.rename(index = {0:'low limit', 1:'high limit'}).reset_index()

In [10]:
total_limit['result']=['','']
total_limit.rename(columns = {'index': 'barcode'}, inplace = True)

In [11]:
total_limit

,barcode,LB,LC,LD,LE,LF,LG,LH,LI,LJ,...,QBK,QBL,QBM,QBN,QBO,QBP,QBQ,QBR,QBS,result
0,low limit,2,2,20,0.5,0.5,0.5,0,-0.8,-0.8,...,1.05,1.05,1.05,1.05,1.05,1.05,1.05,1.05,1.05,
1,high limit,15,15,120,12,52,4550,2,-0.35,-0.35,...,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,

In [14]:
total_limit = total_limit.astype('str')
total = total.astype('str')
total_limit.loc[2,:] = total_limit.columns
total_limit

,barcode,LB,LC,LD,LE,LF,LG,LH,LI,LJ,...,QBK,QBL,QBM,QBN,QBO,QBP,QBQ,QBR,QBS,result
0,low limit,2,2,20,0.5,0.5,0.5,0,-0.8,-0.8,...,1.05,1.05,1.05,1.05,1.05,1.05,1.05,1.05,1.05,
1,high limit,15,15,120,12,52,4550,2,-0.35,-0.35,...,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,
2,barcode,LB,LC,LD,LE,LF,LG,LH,LI,LJ,...,QBK,QBL,QBM,QBN,QBO,QBP,QBQ,QBR,QBS,result

In [15]:
output = pd.concat([total_limit,total])
output.to_csv('output.csv', index = False, header=False)